.notion-scroller .notion-board-view {
	min-width: initial !important;
}

.notion-scroller .notion-board-view > div:not(:has(.notion-selectable-halo)) > div:last-child {
	display: none;
}

.notion-scroller .notion-board-view > div:has(.notion-selectable-halo) > div:nth-last-child(2) {
	display: none;
}